/****************************************Start Media Query Section************************/

@media(max-width:767px)
/*phones and tabltes xs*/

{
    /*****************************header***********************************/
    header .logo h3 {
        text-align: center;
    }
    header nav .nav-list {
        display: block;
        text-align: center;
    }
    header nav .nav-list .list {
        margin-bottom: 20px;
        font-size: 17px;
    }
    header i.icon {
        display: block;
    }
    header nav .nav-list {
        display: none;
    }
    header {
        background-color: black;
    }
    /*****************************home***********************************/
    .home .button {
        margin-bottom: 20px;
    }
    /*****************************about-us***********************************/
    .about-us {
        height: 700px;
    }
    .about-us .about-intro .image {
        margin-top: 5px;
    }
    /*****************************statistics***********************************/
    .statistics {
        min-height: 1300px;
    }
    /*****************************Exprtes***********************************/
    .Exprtes .circle
   {
      padding-left: 180px;
      margin-bottom: 20px;

   }
   .Exprtes .circle h2{padding-left: 5px;}
   .Exprtes .circle .Percentage
   {
    padding-left: 120px;
   }
   /*****************************Our-Pricing***********************************/
   .Our-Pricing .plans
   {
       margin-bottom: 20px;
   }
   /*****************************business***********************************/
    .business button 
    {
        margin-bottom: 20px;
    }
    /*****************************blog***********************************/
    .blog .blogs{margin-bottom: 20px;}
    /*****************************start-project***********************************/
    .start-project h1{font-size: 20PX; margin-bottom: 0; padding-bottom: 0; text-align: center;}
    .start-project button
    {
        width: 150px;
        padding: 15px;
    }

    .contact-us .form .button
    {
        margin: 40px 25%;
    }
    .about-me h1{font-size: 20px; font-weight:bold ;}
}

@media(min-width:768px) and (max-width:991px)
/*small screen*/

{}

@media(min-width:991px) and (max-width:1199px)
/*medium screen*/

{
    /*****************************statistics***********************************/
    .statistics {min-height: 700px;}
    /*****************************portfolio***********************************/
    .portfolio .more { margin: 10px 370px;}
    /*****************************portfolio***********************************/
    .contact-us .form input
    {
        width: 60px;
        margin: auto;
    }
}

@media(min-width:1200px)
/*lager screen*/

{}


/**************************************** End Media Query Section************************/