body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

section {
    padding: 30px 0px;
}

.section-header {
    margin-bottom: 40px;
}

.section-title {
    font-size: 40px;
    letter-spacing: -4px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.section-header .line {
    width: 200px;
    margin: auto;
    height: 2px;
    background-color: #ccc;
}

.section-header .line span {
    width: 150px;
    height: 4px;
    background-color: #7cb62f;
    margin: auto;
    display: block;
}

.section-header p {
    padding-top: 10px;
    color: rgb(167, 166, 166);
    line-height: 1.5;
    margin: auto;
    width: 500px;
}


/*f7f8f7 default color*/


/* #7cb62f color hover*/


/****************************************Start header Section************************/

header {
    height: auto;
    padding: 10px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.sticky {
    background: #000;
    z-index: 999;
}

.sticky a {
    color: #fff;
}

header i.icon {
    position: absolute;
    top: 33px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
    display: none;
    outline: 1px solid #ccc;
    outline-offset: 10px;
    border-radius: 2px;
}

header .logo h3 {
    font-size: 30px;
    cursor: pointer;
    transition: color ease-in-out 0.4s;
    color: #f7f8f7;
}

header .logo h3:hover {
    color: #7cb62f;
}

header nav .nav-list {
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
    font-size: 14px;
}

header nav .nav-list .list a {
    text-decoration: none;
    color: #000;
    display: block;
    transition: color ease-in-out 0.4s;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.9;
}

header nav .nav-list .list a:hover {
    color: #7cb62f;
}


/**************************************** End header Section************************/


/****************************************Start home Section************************/

.home {
    height: 700px;
    background-image: url(../images/skill-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}

.home .layout {
    position: absolute;
    background: rgba(2, 2, 2, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home .home-content
/*بتخلي اي كلام في نص الدف*/

{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-title {
    font-size: 45px;
    margin-bottom: 20px;
}

.home .home-desc {
    font-size: 20px;
    margin-bottom: 20px;
}

.home .button {
    color: #000;
    width: 150px;
    background-color: #7cb62f;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}


/**************************************** End home Section************************/

/****************************************Start about-me  Section************************/
.about-me
{
    min-height: 200px;
    padding: 15px;
}
.about-me h1
{
    padding: 15px;
    font-size: 50px;

    color: #333;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
/**************************************** End about-me Section************************/

/****************************************Start about us  Section************************/

.about-us {
    min-height: 400px;
}

.about-us .content,
.about-us .image {
    margin-top: 50px;
}

.about-us .content h2 span {
    color: #7cb62f;
}

.about-us .content p {
    font-size: 15px;
    margin-top: 20px;
}

.about-intro {
    margin-bottom: 100px;
}

.about-us .content .button {
    color: black;
    width: 150px;
    text-align: center;
    border-radius: 4px;
    background-color: #7cb62f;
    margin-top: 20px;
    font-size: 15px;
}

.about-us .image img {
    padding: 20px;
    width: 550px;
    height: 350px;
}


/**************************************** End about us  Section*****************************/


/****************************************Start services Section************************/

.services {
    min-height: 600px;
    background-color: #ddd;
}

.service {
    border: 10px solid #ddd;
    height: 350px;
    background-color: #fff;
}

.service h2 {
    padding-top: 10px;
}

.service p {
    padding-top: 20px;
}

.service i {
    background-color: #7cb62f;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    margin-top: 15px;
}


/****************************************End .statisticsSection************************/

.statistics {
    background: url("../images/14.jpg")no-repeat fixed center center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    position: relative;
    margin-bottom: 40px;
    min-height: 500px;
}

.statistics .data {
    background: rgba(2, 2, 2, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.statistics .space {
    padding-bottom: 50px
}

.statistics h1 {
    padding-top: 20px;
    padding-bottom: 60px;
    color: #fff;
    -webkit-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    transition-duration: 0.7s
}

.statistics h1:hover {
    color: #7cb62f
}

.statistics i {
    color: black;
    height: 70px;
    width: 70px;
    line-height: 70px;
    background-color: #7cb62f;
    text-align: center;
    border-radius: 50%;
}

.statistics .timer {
    font-size: 60px;
    font-weight: bold;
    color: blanchedalmond;
    padding-top: 40px;
    padding-bottom: 0px;
    -webkit-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    transition-duration: 0.7s;
    display: block;
}

.statistics .timer:hover {
    color: #7cb62f;
    cursor: pointer;
}

.statistics .state {
    font-size: 19px;
    color: white;
    padding-bottom: 80px
}


/****************************************End statistics Section************************/


/****************************************Start portfolio Section************************/

.portfolio {
    min-height: 700px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.Clear
{
    clear: both !important;

}
.portfolio .buttons {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.portfolio .buttons > button {
    background-color: #000;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    margin-left: 5px;
    width: 100px;
    text-align: center;
}
.portfolio .buttons > button a{color: #fff; text-decoration: none; display:inline-block ;}
.active-btn {
    background-color: #7cb62f !important;
}
.hide{opacity: 0 !important;}
.show{opacity: 1 !important ;}
.portfolio .Images img {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    border: 2px solid #ddd;

}

.portfolio .more {
    background-color: #333;
    color: #fff;
    width: 200px;
    margin: 10px 500px;
    padding: 10px;
    border-radius: 10px;
}


/****************************************End portfolio Section************************/


/****************************************Start Exprtes Section************************/

.Exprtes {
    min-height: 400px;
    background-color: #333;
    color: #fff;
}

.Exprtes .section-title {
    color: #fff;
}

.Exprtes p {
    color: #fff;
}

.Exprtes .circle {
    position: relative;
    
}

.Exprtes .circle .Percentage {
    position: absolute;
    top: 27%;
    left: 24%;
    font-size: 25px;
    font-weight: bold;
}


/****************************************End Exprtes Section************************/


/****************************************Start Our-Pricing Section************************/

.Our-Pricing {
    min-height: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Our-Pricing .plans .plan {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    transition: all ease-in-out 0.7s;
}

.Our-Pricing .plans h2 {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
    border-bottom: 1px solid #000;
    margin-top: 0px;
}

.Our-Pricing .plans ul li {
    text-align: center;
    padding: 10px;
}

.Our-Pricing .plans button {
    width: 100%;
    background-color: #000;
    padding: 15px;
    text-align: center;
    color: #fff;
    transition: all ease-in-out 0.7s;
}


/****hover****/

.Our-Pricing .plans:hover .plan,
.Our-Pricing .plans:hover button {
    background-color: #7cb62f;
}


/****************************************End Our-Pricing Section************************/


/****************************************Start team Section************************/

.team {
    margin-bottom: 20px;
}

.team .item img {
    width: 100%;
    height: 300px;
}

.team .team-info {
    text-align: center;
    padding: 5px 0px;
    margin: 0;
}

.team .team-info .social-team {
    padding: 15px;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    position: relative;
}

.team .team-info .social-team i {
    margin-left: 30px;
    transition: ease-in-out all 0.5s;
    font-size: 20px;
    cursor: pointer;
}

.team .team-info .social-team i:hover {
    color: #7cb62f;
}

.team .team-info .social-team i:first-child {
    margin-left: 0px;
}


/****************************************End team Section************************/


/****************************************Start business Section************************/

.business {
   min-height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
}

.business h2 {
    padding-top: 40px;
}

.business p {
    margin: 15px 0px;
}

.business button {
    width: 150px;
    color: #fff;
    background-color: #7cb62f;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}


/****************************************End business Section************************/


/****************************************Start choose Section************************/

.choose {
    min-height: 400px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.choose .c_panel ul {
    background-color: #000;
    color: #fff;
    display: flex;
    margin: 0;
    padding: 0;
}

.choose .c_panel ul li {
    padding: 10px 20px;
    cursor: pointer;
}
.choose .c_panel .content{background-color: #fff;}
.choose .c_panel .content .content-info img
{
    width: 40%;
    padding-right: 10px;
    float: left;
    border-radius: 10px;
}
.choose .c_panel .content .content-info p
{
   
    color: #333;
    line-height: 1.5;
    
}
.choose .c_panel .content1,.choose .c_panel .content2{display: none;}
.choose .video {
    background-color: #333;
    color: #fff;
    padding: 80px 0px;
    height: 350px;
    cursor: pointer;
}
.choose .video a
{
    color: #fff;
    text-decoration: none;
}
.choose .video i {
    color: red;
}


/****************************************End choose Section************************/

/****************************************Start whatSaySection************************/
.whatSay
{
    background-color: #333;
    color: #fff;
    min-height: 400px;
}
.whatSay .person
{
    background-color: black;
    min-height: 400px;
    border-radius: 10px;
    padding: 25px;
    position: relative;
    
}
.whatSay .person img
{
   display: block;
    border-radius: 4px solid #fff;
    width: 150px;
    height: 150px;
    margin: auto;
   
}
.whatSay .person h2{margin-top: 50px;}
.whatSay .person .star{transition: ease-in-out all 0.7s;}
.whatSay .person .star i:hover{color: chartreuse;}
.whatSay .person .bg
{
    background-color:rgb(0, 0, 0,0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
    position: absolute;
    border-radius: 10px;
    transform: scaleY(0);
    transition: all ease-in-out 0.7s;
    opacity: 0.8;
}
.whatSay .person .bg button
{
    margin:170px auto;
    color: #000;
    padding: 15px;
    border: 0;
    background-color: #7cb62f;
    border-radius: 10px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
  
}
.whatSay .person:hover .bg { transform: scaleY(1);}
/****************************************End whatSay Section************************/

/****************************************Start blog Section************************/
.blog
{
    min-height: 400px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: black;
}
.blog .blogs img
{
    width: 100%;
    height: 150px;
}
.blog .blogs h3{padding: 0;margin: 7px;}
.blog .blogs p
{
    width: 100%;
    float: left;

}
.blog .blogs button
{
    text-align: center;
    padding: 7px;
    width: 150px;
    background-color: #7cb62f;
    color: black;
    font-weight: bold;
    border: 0;

}
/****************************************End blog Section************************/

/****************************************Start twitter Section************************/
.twitter
{
    padding: 50px;
    margin-top: 10px;
    background-color: #333;
    height: 300px;
    color: #fff;
}
.twitter i
{
    color: #7cb62f;
    padding: 10px;
}
.twitter p
{
    padding-bottom: 15px;

    text-align: center;
}
.twitter .name
{
    color: #7cb62f;
}   
.twitter em{font-size: 15px;}
/****************************************End twitter Section************************/



/****************************************Start start-project Section************************/
.start-project
{
    min-height: 150px;
    padding: 15px;
    background-color: #7cb62f;
    color: black;

}
.start-project h1
{
    padding: 15px;
    font-size: 40px;
}
.start-project button
{
    text-align: center;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 37px;
    transition: ease-in-out all 0.5s;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}
.start-project button:hover{color: #7cb62f; width: 200px;}
/****************************************End start-project Section************************/

/****************************************Start contact us Section************************/
.contact-us
{
    min-height: 400px;
    color: #000;
    background-color: #dddd;
}
.contact-us .question h2
{
    width: 100%;
    font-size: 25px;
    padding-bottom: 5px;
}
.contact-us .question p
{
    font-size: 20px;
    padding-bottom: 15px;
}
.contact-us .question ul li
{
    padding: 10px;
}
.contact-us .question ul li i
{
    font-size: 15px;
    border: 1px solid #7cb62f;
    border-radius: 50%;
    padding: 10px;
}
.contact-us .form input
{
    padding: 15px;
    width:355px;
    border-radius: 10px;
    float: left;
    margin-right:10px ;
    margin-bottom: 20px;
    border: 0;

}
.contact-us .form textarea
{
    width: 100%;
    height: 150px;
    border: 0;
    resize: none;
}
.contact-us .form .button
{
    margin: 40px 35%;
    width: 200px;
    padding: 20px;
    color: black;
    background-color: #7cb62f;
    border: 0;
    font-size: 15px;

}

/****************************************End contact us Section*****************************/

      /****************************************Start footer Section************************/
      footer
      {
        background: #111;
        color: #AAA;
        padding-top: 10px;
        margin-top: 0px;
        min-height: 400px
      }
      footer a{ color: #AAA}

    
      footer a:hover{color:#FFF; text-decoration: none;}
      footer h3
      {
          color: #7cb62f;
          letter-spacing: 1px;
          margin-top: 30px;
          margin-bottom: 20px
      }
      footer .three-columes{overflow: hidden}
      footer .three-columes li
      {
          width: 33.3333333%;
          float: left;
          padding-top:5px;
      }
      footer .social {overflow: hidden}
      footer .social li
      {
          float:left;
          width: 33.33333%;
          margin-top: 10px ;
          opacity:0.6 ;
          filter:alpha(opacity=60);
          -webkit-transition-duration:all 0.7s ease-in-out;
          -o-transition-duration: all 0.7s ease-in-out;
          -moz-transition-duration: all 0.7s ease-in-out;
          transition-duration: all 0.7s ease-in-out;
          color: #f7f8f7;
          font-size: 25px;
      }
      footer .social li:hover{opacity: 1 ;color:#7cb62f}
      .works img
      {
          height: 150px;
          width: 150px;
          margin:1px 1px

      }
      footer .img-thumbnail {background: rgba(2,2,2,0.4);border: 3px solid #444}
      footer .copyright
      {
          background-color: #888;
          padding-top: 15px;
          padding-bottom: 5px;
          color: #111;
          margin-top: 30px;
          font-size: larger
      }
      footer .copyright span
      {
        color:red ;
        padding-left: 3px;
        padding-right: 3px;
        font-weight: bold
      }
      /**************************************** End footer Section************************/
/****************************************Start scroll Section************************/

.scroll {
    width: 60px;
    height: 60px;
    color: #fff;
    z-index: 99999;
    position: fixed;
    text-align: center;
    line-height: 60px;
    right: 15px;
    bottom: 15px;
    display: none;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    
}
.scroll-top{position: relative;}
.scroll i.icon {
    font-size: 40px;
    text-align: center;
    position: absolute;
    right: 11px;
    bottom: -13px;
    transition: ease-in-out all 0.4s;

}

.scroll i:hover {
    color: #7cb62f
}


/**************************************** End scroll Section*****************************/